.footer{
	background: #000000;
    position: absolute;
    width: 90%;
    height: 25%;
    margin: center;
    margin: auto;
    left: 5%;
    top: 95%;
    border-radius: 10px;
}
.logo_footer{
	position: absolute;
    left: 7%;
    top: 18%;
}
.info_sede{
	color: white;
	font-family: arial;
	font-size: 12px;
	width: 27%;
    right: 41%;
    position: absolute;
}
.phones{
	color: white;
	font-family: arial;
	font-size: 12px;
	width: 29%;
    right: 6%;
    position: absolute;
}
.copyright{
	font-family: arial;
	font-size: 12px;
	color: white;
	text-align: center;
	position: absolute;
    width: 100%;
    top: 57%;
    margin-bottom: 32px;
    
}