.header{
	/*background: #e7b200;*/
    position: absolute;
    width: 90%;
    height: 20%;
    margin: center;
    margin: auto;
    left: 5%;
    top: 6%;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0px 9px 34px -1px rgba(0,0,0,0.59);
	-moz-box-shadow: 0px 9px 34px -1px rgba(0,0,0,0.59);
	box-shadow: 0px 9px 34px -1px rgba(0,0,0,0.59);
}

.logo{
	width: 350px;
    height: 71px;
    position: absolute;
    margin: 2%;
    top: 5%;
}

.title{
    font-family: candara;
    font-size: 35px;
    position: absolute;
    left: 60%;
    top: 45%;
    font-weight: bold;
    overflow: hidden;
}